.ep-search-pagination {
	align-items: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: auto;
	text-align: center;

	&.is-numbered {
		display: block;

		& .ep-search-pagination__list {
			display: flex;
			flex-wrap: wrap;
			gap: 8px;
			justify-content: center;
			list-style: none;
			margin: 8px 0 0;
			padding: 0;
		}
	}
}

.rtl .ep-search-pagination {
	direction: rtl;
}

.ep-search-pagination__next {
	justify-self: end;
}

.ep-search-pagination__previous {
	justify-self: start;
}
