{
  "extends": "@10up/eslint-config",
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "no-console": [ 1 ],
    "no-alert": [ 1 ],
    "camelcase": [ 1 ],
    "no-debugger": [ 1 ],
    "no-unused-vars": [ 1 ],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
  },
  "globals": {
    "wp": true,
    "window": true
  },
  "env": {
    "browser": true
  }
}