{
  "extends": [
    "@10up/eslint-config",
    "plugin:react/recommended"
  ],
  "rules": {
    "no-console": [ 1 ],
    "no-alert": [ 1 ],
    "camelcase": [ 1 ],
    "no-debugger": [ 1 ],
    "no-unused-vars": [ 1 ]
  }
}
