/vendor/
/vendor-prefixed/
node_modules
/dist
.idea
.history
docs-built
npm-log.log
test-coverage-html/
.phpunit.result.cache
screenshots
.DS_Store

elasticpress.zip

# Playwright
/tests/e2e/dist/
/tests/e2e/test-results/
/tests/e2e/playwright-report/
/tests/e2e/blob-report/
/tests/e2e/playwright/.cache/

.env
