{
	"extends": [
		"@10up/stylelint-config"
	],
	"rules": {
		"scale-unlimited/declaration-strict-value": [
			"/color/",
			{
				"ignoreValues": ["currentcolor", "inherit", "initial", "transparent", "unset"],
				"severity": "warning"
			}
		],
		"font-family-no-missing-generic-family-keyword": null,
		"declaration-property-unit-allowed-list": null,
		"selector-max-id": null,
		"selector-max-specificity": null
	}

}
