<?xml version="1.0"?>
<ruleset name="ElasticPress">
	<description>PHPCS rules for ElasticPress</description>

	<file>./includes</file>
	<file>./elasticpress.php</file>

	<!-- Include the WordPress-Extra standard. -->
	<rule ref="WordPress-Core">
		<exclude name="WordPress.Files.FileName"/>
		<exclude name="Squiz.ControlStructures.ControlSignature.NewlineAfterOpenBrace"/>
	</rule>

	<rule ref="WordPress-Docs"/>

	<rule ref="Generic.CodeAnalysis.UnusedFunctionParameter"/>
	<rule ref="Generic.Commenting.Todo"/>

	<config name="testVersion" value="5.4"/>
	<rule ref="PHPCompatibility"/>

	<config name="minimum_supported_wp_version" value="3.7.1"/>
	<config name="ignore_warnings_on_exit" value="1"/>
</ruleset>
