<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="true"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
    <php>
        <const name="WP_TESTS_MULTISITE" value="1" />
        <const name="EP_HOST" value="http://127.0.0.1:9200" />
    </php>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
