<?xml version="1.0"?>
<phpunit
  xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
  bootstrap="tests/php/bootstrap.php"
  backupGlobals="false"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
  >
  <coverage>
    <include>
      <directory suffix=".php">./includes</directory>
    </include>
    <exclude>
      <directory suffix=".php">./includes/partials</directory>
      <directory suffix=".php">./includes/mappings</directory>
    </exclude>
  </coverage>
  <php>
    <const name="WP_TESTS_MULTISITE" value="1"/>
    <ini name="error_reporting" value="24575"/>
  </php>
  <testsuites>
    <testsuite name="elasticpress">
      <directory prefix="Test" suffix=".php">./tests/php/</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>skip-on-multi-site</group>
    </exclude>
  </groups>
</phpunit>
