.ep-weighting-post-type {
	margin-bottom: 16px;

	& .components-panel__header h2 {
		font-size: 14px;
	}

	& .components-toggle-control__label {
		max-width: none;
	}

	& .components-base-control__help {
		margin-bottom: 0;
	}

	& .components-notice {
		margin-left: 0;
		margin-right: 0;
	}

	& .components-notice__dismiss {
		align-self: center;
	}

	& .components-button {
		vertical-align: top;
	}
}
