version: '2.2'
services:
  elasticsearch:
    build:
      dockerfile: Dockerfile
      context: .
      args:
        ES_VERSION: ${ES_VERSION-7.10.2}
    ports:
      - 8890:9200
    mem_limit: 1024M
    mem_reservation: 1024M
    volumes:
      - './elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml:cached'
    environment:
      ES_JAVA_OPTS: '-Xms450m -Xmx450m'
