.ep-weighting-screen {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;

	& .components-panel {
		margin-bottom: 1rem;
	}

	& .components-toggle-control__label {
		max-width: none;
	}

	& .components-base-control__help {
		margin-bottom: 0;
	}

	& .components-notice {
		margin-left: 0;
		margin-right: 0;
	}

	& .components-notice__dismiss {
		align-self: center;
	}

	& .components-button {
		vertical-align: top;
	}
}
