.ep-shop-order {

	& p {
		line-height: 1.2;
		margin: 0 0 0.25rem;
	}

	& strong {
		display: block;

		@nest [aria-selected="true"] & {
			color: var(--wp-admin-theme-color);
		}
	}

	& footer {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	& time {
		line-height: 1;
	}

	& .order-status {
		font-size: 0.85em;
		justify-content: center;
		margin: 0;
		min-width: 40%;
	}
}
