.ep-sync-button {

	&.components-button.has-icon.has-text {
		height: 4rem;
		justify-content: center;
		width: 100%;

		& svg {
			height: 2em;
			margin: 0;
			width: 2em;
		}
	}
}

.ep-sync-button--sync {
	font-size: 1.5em;
	font-weight: 700;
}

.ep-sync-button--pause,
.ep-sync-button--resume,
.ep-sync-button--stop {
	flex-direction: column;
}
