.ep-sync-messages {
	align-content: start;
	background: var(--ep-sync-color-black);
	color: var(--ep-sync-color-white);
	display: grid;
	font-family: monospace;
	grid-auto-flow: column;
	grid-template-columns: min-content auto;
	height: 21em;
	line-height: 2;
	overflow-y: auto;
	white-space: pre-wrap;
}

.ep-sync-messages__message {
	grid-column: 2;
}

.ep-sync-messages__line-number {
	box-sizing: content-box;
	min-width: 3ch;
	opacity: 0.5;
	padding: 0 0.5em;
	text-align: right;
}
