.ep-sync-panel {
	margin-bottom: 2rem;
	max-width: 1200px;
}

.ep-sync-panel__body {
	display: grid;
	grid-column-gap: 2rem;
	grid-row-gap: 1rem;
	grid-template-columns: auto 16rem;

	&.is-opened {
		padding: 2rem 2rem 1rem 2rem;
	}

	& p,
	& .components-toggle-control,
	& .components-tab-panel__tab-content {
		margin-bottom: 1rem;
		margin-top: 0;
	}

	@media (max-width: 960px) {
		grid-template-columns: 100%;
	}
}

.ep-sync-panel__row {
	grid-column: 1 / -1;
}

.ep-sync-panel__introduction {
	font-size: 18px;
}
