.add-facet {
	cursor: pointer;
	text-decoration: underline;
	margin-bottom: 1em;
	margin-left: -2px;
	display: inline-block;
}

.add-facet:before {
	cursor: pointer;
	font-size: 17px;
	content: "\f132";
	display: inline-block;
	font-family: dashicons;
	vertical-align: middle;
	margin-right: 2px;
}

.delete-facet:before {
	cursor: pointer;
	font-size: 17px;
	content: "\f158";
	display: inline-block;
	font-family: dashicons;
	vertical-align: middle;
	margin-left: 10px;
}

.order-facet:before {
	cursor: pointer;
	font-size: 17px;
	content: "\f545";
	display: inline-block;
	font-family: dashicons;
	vertical-align: middle;
	margin-right: 5px;
}
