.ep-synonyms-panel {
	margin-bottom: 16px;

	& .components-tab-panel__tabs {
		border-bottom: 1px solid #ddd;
		margin: -16px -16px 0 -16px;
	}

	& .components-tab-panel__tabs-item {
		margin: -1px 0;

		& svg {
			display: block;
			fill: #cc1818;
		}
	}
}

.ep-synonyms-list-table {
	border: 1px solid #e0e0e0;
	border-collapse: collapse;
	border-spacing: 16px;
	table-layout: fixed;
	width: 100%;

	& td,
	& th {
		padding: 8px;
	}

	& th {
		font-weight: inherit;
		text-align: inherit;
	}

	& thead {
		border-bottom: 1px solid #e0e0e0;

		& th {
			font-weight: 500;
		}
	}

	& tbody {

		& tr:nth-child(odd) {
			background: #f0f0f0;
		}
	}

	& .components-base-control__field,
	& .components-checkbox-control__input-container,
	& .components-checkbox-control__input {
		margin: 0;
	}
}

.ep-synonyms-list-table__checkbox-column {
	width: 36px;
}

.ep-synonyms-list-table__primary-column {
	width: 30%;
}

.ep-synonyms-list-table__actions-column {
	width: 96px;
}

.ep-synonyms-edit-panel {
	margin: 16px 0;

	& .components-notice {
		margin: 0 0 16px 0;
	}
}
