$tablet-width: 768px;

.ep-header-menu {
	background-color: #fff;
	position: relative;
	margin-left: -20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
	z-index: 2;
}

.progress-bar {
	margin-bottom: -5px;
	height: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #D84440;
}

.ep-header-menu:after {
	content: ' ';
	clear: both;
	display: block;
}

.ep-header-menu img {
	float: left;
}

.ep-header-menu .icons {
	float: right;
	padding-right: 3px;
	height: 39px;
	line-height: 39px;
	display: inline-block;
}

.ep-header-menu .icons .dashicons-update {
	font-size: 29px;
	margin-right: 10px;
	top: -3px;
}

.ep-header-menu .icons a {
	font-size: 27px;
	vertical-align: middle;
	color: inherit;
	position: relative;
	top: -3px;
	margin-left: 8px;
	cursor: pointer;
}

.ep-header-menu .icons .dashicons-no,
.ep-header-menu .icons .dashicons-controls-play,
.ep-header-menu .icons .dashicons-controls-pause {
	top: 1px;
	font-size: 30px;
}

.ep-header-menu .resume-sync,
.ep-header-menu .pause-sync,
.ep-header-menu .cancel-sync {
	display: none;
}

.ep-header-menu .sync-status {
	display: none;
	color: #666;
	bottom: -1px;
	position: relative;
	margin-right: 8px;
    vertical-align: middle;
    font-style: italic;
}

.wrap .notice,
.wrap > h2 {
	z-index: 2;
    position: relative;
}

.ep-modules {
	overflow: auto;
}

.ep-module.module-dependencies-unmet .postbox:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .4;
	background-color: #333;
}

.error-overlay.cant-connect,
.error-overlay.syncing {
	content: ' ';
	display: block;
	position: fixed;
	top: 46px;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .6;
	background-color: #fff;
	z-index: 1;
}

@media (min-width: $tablet-width) {
	.error-overlay.cant-connect,
	.error-overlay.syncing,
	.error-overlay {
		top: 32px;
		left: 160px;
	}
}

.ep-module .postbox {
	margin-bottom: 0;
}

.ep-module .postbox .hndle {
	cursor: inherit;
}

.ep-module {
	position: relative;
	vertical-align: top;
	margin-bottom: 20px;
}

.ep-module .module-message {
	text-align: center;
	padding: 12px;
}

.module-message.module-error {
	color: #666;
	font-style: italic;
}

.ep-module .deactivate {
	display: none;
}

.ep-module.module-active .activate,
.ep-module.module-syncing .activate,
.ep-module.module-syncing .deactivate {
	display: none;
}

.ep-module.module-active.module-syncing .deactivate {
	display: none;
}

.ep-module .syncing-placeholder {
	display: none;
}

.ep-module.module-active .syncing-placeholder {
	display: none;
}

.ep-module.module-syncing button.syncing-placeholder {
	display: inline-block;
}

.ep-module.module-active .deactivate {
	display: inline-block;
	position: relative;
}

.ep-module .activate.processing:after,
.ep-module .deactivate.processing:after {
	content: ' ';
	vertical-align: middle;
	margin-left: 1.4em;
	top: -.25em;
	border-radius: 50%;
	width: 1em;
	height: 1em;
	display: inline-block;
	font-size: 6px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(255, 255, 255, 0.2);
	border-right: 1.1em solid rgba(255, 255, 255, 0.2);
	border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
	border-left: 1.1em solid #ffffff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}

.ep-module .deactivate.processing:after {
	border-top: 1.1em solid rgba(180, 180, 180, 0.4);
	border-right: 1.1em solid rgba(180, 180, 180, 0.4);
	border-bottom: 1.1em solid rgba(180, 180, 180, 0.4);
	border-left: 1.1em solid #666;
}

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.ep-module .inside {
	margin-bottom: 0;
	border-bottom-width: 2px;
	text-align: left;
}

.ep-module .action {
	margin: 6px 0;
	padding: 0 12px 0 13px;
	text-align: right;
}

.ep-module .long {
	display: none;
}

.ep-module.show-all .long {
	display: block;
}

.ep-module .learn-more,
.ep-module .collapse {
	cursor: pointer;
}

.ep-module.show-all .learn-more {
	display: none;
}

.ep-module .learn-more:after {
	content: "\f140";
	font-family: dashicons;
	font-size: 1.5em;
	vertical-align: middle;
	top: -.07em;
	position: relative;
}


.ep-module .collapse:after {
	content: "\f142";
	font-family: dashicons;
	font-size: 1.5em;
	vertical-align: middle;
	top: -.07em;
	position: relative;
}

@media (min-width: $tablet-width) {
	.ep-modules .left {
		display: block;
		float: left;
		box-sizing: border-box;
		padding-right: 10px;
		width: 50%;
	}

	.ep-modules .right {
		display: block;
		float: right;
		box-sizing: border-box;
		padding-left: 10px;
		width: 50%;
	}

	.ep-module .module-message {
		float: left;
		padding: 0;
		vertical-align: middle;
		display: inline-block;
		padding-top: .5em;
	}
}