:root {
	--statusOk: #6aa000;
	--statusWarning: #e3e600;
	--statusError: #f00;
}

@custom-media --tablet-min (min-width: 880px);
@custom-media --wide-min (min-width: 1270px);
@custom-media --tablet-max (max-width: 880px);
@custom-media --wide-max (max-width: 1270px);

/**
 * Layout
 */

.wrap .notice,
.wrap > h2 {
	position: relative;
	z-index: 2;
}

.wrap h1 {
	font-size: 23px;
	font-weight: 400;
	line-height: 29px;
	margin: 0;
	padding: 9px 0 4px;
}

.wrap h2 {
	color: #888;
	line-height: 1.75;
	margin: 0.5em 0 0.75em;
}

#wpbody #update-nag,
#wpbody .update-nag {
	margin-bottom: 20px;
	margin-left: -20px;
	margin-top: 0;
	width: 100%;
}

h2.ep-list-features {
	display: none;
}

/**
 * Header
 */

.ep-header-menu {
	background-color: #fff;
	border-bottom: 2px solid #ddd;
	margin-left: -20px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	position: relative;
	z-index: 2;
}

.ep-header-menu::after {
	clear: both;
	content: " ";
	display: block;
}

.ep-header-menu img {
	float: left;
}

.ep-header-menu .icons {
	display: inline-block;
	float: right;
	height: 39px;
	line-height: 39px;
	padding-right: 3px;
}

.ep-header-menu .icons a {
	color: inherit;
	cursor: pointer;
	font-size: 27px;
	margin-left: 8px;
	position: relative;
	top: -3px;
	vertical-align: middle;
}

.ep-header-menu .icons .dashicons-no,
.ep-header-menu .icons .dashicons-controls-play,
.ep-header-menu .icons .dashicons-controls-pause,
.ep-header-menu .icons .dashicons-update,
.ep-header-menu .icons .dashicons-admin-generic {
	font-size: 30px;
	top: 1px;
}

.ep-header-menu .resume-sync,
.ep-header-menu .pause-sync,
.ep-header-menu .cancel-sync {
	display: none;
}

.ep-header-menu .sync-status {
	bottom: -1px;
	color: #666;
	display: none;
	font-style: italic;
	margin-right: 8px;
	position: relative;
	vertical-align: middle;
}

.ep-header-menu .progress-bar {
	background-color: #d84440;
	bottom: 0;
	height: 5px;
	left: 0;
	margin-bottom: -5px;
	position: absolute;
}

.ep-header-menu .icons .dashicons-update,
.ep-header-menu .icons .dashicons-admin-generic {
	display: inline;
}

/**
 * Features
 */

.ep-features {
	overflow: auto;
}

.error-overlay.cant-connect,
.error-overlay.syncing {
	background-color: #fff;
	bottom: 0;
	content: " ";
	display: block;
	left: 0;
	opacity: 0.6;
	position: fixed;
	right: 0;
	top: 46px;
	z-index: 1;
}

@media (--tablet-min) {

	.error-overlay.cant-connect,
	.error-overlay.syncing,
	.error-overlay {
		left: 160px;
		top: 32px;
	}
}

.ep-feature .postbox {
	margin-bottom: 0;
}

.ep-feature .postbox .hndle {
	cursor: inherit;
}

.ep-feature .postbox .hndle .settings-button {
	background-color: #efefef;
	border-radius: 4px;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-size: 13px;
	margin-top: -4px;
	padding: 4px 7px;
	padding-left: 23px;
	position: relative;
}

.ep-feature .settings-button::before {
	color: #72777c;
	content: "\f140";
	display: inline-block;
	font: 400 19px/1 dashicons;
	left: 1px;
	padding: 0 5px 0 0;
	position: absolute;
	top: 4px;
	vertical-align: middle;
}

.ep-feature .settings-button::after {
	border-radius: 50%;
	content: " ";
	display: inline-block;
	height: 8px;
	margin-left: 10px;
	margin-top: -2px;
	vertical-align: middle;
	width: 8px;
}

.feature-requirements-status-2.ep-feature {

	& .postbox .hndle .settings-button::after {
		background-color: transparent;
		border: 1px solid var(--statusError);
	}

	& .settings .requirements-status-notice {
		border-color: var(--statusError);
	}
}

.feature-requirements-status-1.ep-feature {

	& .postbox .hndle .settings-button::after {
		background-color: transparent;
		border: 1px solid var(--statusWarning);
	}

	&.feature-active .postbox .hndle .settings-button::after {
		background-color: var(--statusWarning);
	}

	& .settings .requirements-status-notice {
		border-color: var(--statusWarning);
	}
}

.feature-requirements-status-0.ep-feature {

	& .postbox .hndle .settings-button::after {
		background-color: transparent;
		border: 1px solid var(--statusOk);
	}

	&.feature-active .postbox .hndle .settings-button::after {
		background-color: var(--statusOk);
	}

	& .settings .requirements-status-notice {
		border-color: var(--statusOk);
	}
}

.ep-feature {
	margin-bottom: 20px;
	position: relative;
	vertical-align: top;
}

.ep-feature.saving .action-wrap::before {
	animation: load8 1.1s infinite linear;
	border-bottom: 5px solid #ccc;
	border-left: 5px solid #999;
	border-radius: 50%;
	border-right: 5px solid #ccc;
	border-top: 5px solid #ccc;
	content: " ";
	display: inline-block;
	font-size: 7px;
	height: 8px;
	margin-right: 1.4em;
	position: relative;
	text-indent: -9999em;
	top: 4px;
	transform: translateZ(0);
	vertical-align: middle;
	width: 8px;
}

.ep-feature .description,
.ep-feature .settings {
	margin-bottom: 0;
	text-align: left;
}

.ep-feature .settings {
	display: none;
	overflow: auto;

	& h3 {
		font-size: inherit;
		font-weight: 700;
		margin-top: 0;
	}
}

.ep-feature.show-settings {

	& .settings {
		display: block;
	}

	& .description {
		display: none;
	}

	& .settings-button::before {
		content: "\f142";
	}
}

.ep-feature .settings .requirements-status-notice {
	background-color: #efefef;
	border-left: 4px solid var(--statusOk);
	margin-bottom: 10px;
	padding: 8px 12px;
}

.ep-feature .settings .action-wrap {
	clear: both;
	padding-top: 15px;
	text-align: right;
	vertical-align: middle;

	& a {
		cursor: pointer;
		display: inline-block;
	}

	& .no-dash-sync {
		color: #aaa;
		display: none;
		line-height: 27px;
		padding-right: 8px;
	}

	& a.disabled {
		cursor: default;
	}

	& .cancel {
		margin-right: 6px;
		margin-top: 4px;
	}
}

.ep-feature.dash-sync-disabled .settings .action-wrap {

	& .no-dash-sync {
		display: inline;
	}
}

.ep-feature .settings .field {
	clear: both;
	overflow: initial;
	padding-top: 15px;

	&:first-child {
		padding-top: 0;
	}

	& label {
		display: inline-block;
		margin: 0.25em 0 0.5em;
	}

	& div {
		padding-top: 5px;
	}

	& > label,
	& .field-name {
		box-sizing: border-box;
		display: block;
		float: left;
		padding-right: 1.5em;
		width: 25%;
	}

	& .input-wrap {
		display: block;
		float: right;
		width: 75%;
	}

	& .field-description {
		color: #666;
		font-style: italic;
		margin-bottom: 0;
		margin-top: 4px;
	}

	& .disabled {
		color: #bbb;

		& input {
			cursor: default;
		}
	}
}

.ep-feature .long {
	display: none;

	& p:last-child {
		margin-bottom: 0;
	}
}

.ep-feature.show-full .long {
	display: block;
}

.ep-feature .learn-more,
.ep-feature .collapse {
	cursor: pointer;
}

.ep-feature.show-full .learn-more {
	display: none;
}

.ep-feature .learn-more::after {
	content: "\f140";
	font-family: dashicons;
	font-size: 1.5em;
	position: relative;
	top: -0.07em;
	vertical-align: middle;
}

.ep-feature .collapse::after {
	content: "\f142";
	font-family: dashicons;
	font-size: 1.5em;
	position: relative;
	top: -0.07em;
	vertical-align: middle;
}

/**
 * Intro Page
 */


.intro h2 {
	line-height: 1.2;
	padding: 9px 0 4px 0;
}

.intro h1 {
	color: #626262;
	font-weight: 600;
	margin: 0.5em 0 2em;
	text-align: center;
}

.intro-container {
	display: flex;
	justify-content: center;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}

.intro-box {
	width: 33%;
}

.intro-container a {
	font-weight: 700;
}

.intro-container h2 {
	color: #626262;
	height: 8%;
}

.intro-container p {
	max-width: 300px;
}

.intro-container-success {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.intro-container-success p {
	margin-top: 23px;
	padding: 0 35% 0 35%;
}

@media (--tablet-max) {

	.intro-container-success p {
		margin-top: 23px;
		padding: 0 26%;
	}
}

.ep-config-success span {
	font-size: 6em;
	padding-right: 75px;
}

.setup-complete {
	font-size: 2em;
	margin-top: 0;
	padding-top: 0;
	width: 100%;
}

.setup-complete h2 {
	margin-top: 0;
	padding-top: 0;
}

.ep-copy-text {
	padding: 0 15% 0 15%;
}

@media (--tablet-max) {

	.intro-box {
		width: auto;
	}

	.ep-copy-text {
		padding: 0 9% 0 9%;
	}
}

.ep-circle {
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 16px;
	font-weight: 400;
	height: 6em;
	line-height: 2.8em;
	margin: 0 1em;
	position: relative;
	text-align: center;
	width: 6em;
}

.ep-circle p {
	border: 0;
	font-size: 50px;
	font-weight: 700;
	line-height: 0.5em;
	margin: 0;
}

.red-ep-circle {
	background-color: #d73c38;
	color: #fff;
}

.ep-middle-circle::after {
	background: #d4d4d4;
	content: "";
	height: 0.2em;
	left: -14em;
	position: absolute;
	top: 2.9em;
	width: 34em;
	z-index: -1;
}

@media (--wide-max) {

	.ep-middle-circle::after {
		left: -8em;
		width: 21.9em;
	}
}

@media (--tablet-min) {

	.wrap h1 {
		line-height: 1.75;
	}
}

.white-ep-circle {
	background: #fff;
	color: #626262;
}

.wrap.intro {
	margin-bottom: 30px;
	margin-top: 30px;
	overflow: auto;

	& .updated,
	& .notice,
	& .error,
	& .is-dismissible {
		display: none !important;
	}
}

.features-screenshot {
	display: none;
}

.setup-message {
	clear: both;
	padding: 2em 0;
	text-align: center;
}

.setup-message .setup-button {
	background-color: #e63e3b;
	border-radius: 10px;
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.25);
	color: #fff;
	display: inline-block;
	margin: 0 0.75em;
	padding: 1em 1.5em;
	text-decoration: none;
}

.setup-message .setup-button:hover {
	background-color: #b93431;
	color: #ffe8ed;
}

.setup-message .setup-button-primary {
	background-color: #fff;
	color: #d84440;
}

/**
 * Weighting
 */

.weighting-settings .postbox {
	box-sizing: border-box;
	max-width: 650px;

	& * {
		box-sizing: border-box;
	}
}

.weighting-settings .postbox h2.hndle {
	color: #444;
	cursor: inherit;
}

.weighting-settings fieldset {
	padding: 10px;
}

.weighting-settings fieldset legend {
	float: left; /* legend cannot use display */
	position: relative;
	top: 5px;
	width: 100px;
}

.weighting-settings fieldset p {
	display: inline-block;
	float: left;
	margin: 0;
}

.weighting-settings .field-group {
	margin: 10px 0 0;
}

.weighting-settings .field-group h3 {
	font-size: 1em;
	margin: 10px;
}

.weighting-settings .fields > fieldset:nth-of-type(odd) {
	background: #f9f9f9;
}

.weighting-settings .searchable {
	display: inline-block;
	width: 120px;
}

.weighting-settings .weighting {
	align-items: center;
	display: flex;
}

.weighting-settings .weighting label {
	margin-right: 10px;
	min-width: 80px;
}

.weighting-settings input[type="range"] {
	-webkit-appearance: none;
	background: transparent;
	display: inline-block;
	height: 1em;
	margin: 0;
	vertical-align: middle;
	width: 200px;
}

.weighting-settings input[type="range"]:focus {
	outline: none;
}

.weighting-settings input[type="range"]:disabled {
	opacity: 0.5;
	pointer-events: none;
}

.weighting-settings input[type="range"]::-webkit-slider-runnable-track {
	background: #ddd;
	border: 0 solid #000;
	border-radius: 1px;
	box-shadow: 0 0 0 #000;
	cursor: pointer;
	height: 3px;
	width: 100%;
}

.weighting-settings input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: #1e8cbe;
	border: 1px solid #1e8cbe;
	border-radius: 25px;
	box-shadow: 0 0 0 #000;
	cursor: pointer;
	height: 14px;
	margin-top: -6px;
	width: 14px;
}

.weighting-settings input[type="range"]:focus::-webkit-slider-runnable-track {
	background: #ddd;
}

.weighting-settings input[type="range"]:focus::-webkit-slider-thumb {
	background: #fff !important;
}

.weighting-settings input[type="range"]::-moz-range-track {
	background: #1e8cbe;
	border: 0 solid #000;
	border-radius: 1px;
	box-shadow: 0 0 0 #000;
	cursor: pointer;
	height: 3px;
	width: 100%;
}

.weighting-settings input[type="range"]::-moz-range-thumb {
	background: #1e8cbe;
	border: 1px solid #1e8cbe;
	border-radius: 25px;
	box-shadow: 0 0 0 #000;
	cursor: pointer;
	height: 14px;
	width: 14px;
}

.weighting-settings input[type="range"]::-ms-track {
	background: transparent;
	border-color: transparent;
	color: transparent;
	cursor: pointer;
	height: 3px;
	width: 100%;
}

.weighting-settings input[type="range"]::-ms-fill-lower {
	background: #1e8cbe;
	border: 0 solid #000;
	border-radius: 2px;
	box-shadow: 0 0 0 #000;
}

.weighting-settings input[type="range"]::-ms-fill-upper {
	background: #1e8cbe;
	border: 0 solid #000;
	border-radius: 2px;
	box-shadow: 0 0 0 #000;
}

.weighting-settings input[type="range"]::-ms-thumb {
	background: #a1d0ff;
	border: 1px solid #1e8cbe;
	border-radius: 25px;
	box-shadow: 0 0 0 #000;
	cursor: pointer;
	height: 14px;
	margin-top: 1px;
	width: 14px;
}

.weighting-settings input[type="range"]:focus::-ms-fill-lower {
	background: #1e8cbe;
}

.weighting-settings input[type="range"]:focus::-ms-fill-upper {
	background: #1e8cbe;
}

.ep-feature-search .wp-color-result.button {
	margin-bottom: 10px;
}


.ep-feature.ep-feature-search .settings .wp-picker-input-wrap > label {
	margin-right: 10px;
	margin-top: 0;
}

.ep-feature.ep-feature-search .settings.wp-picker-input-wrap  label {
	align-items: center;
	display: flex;
}

.ep-feature.ep-feature-search .settings .wp-picker-open + .wp-picker-input-wrap {
	display: flex;
}

/**
 * Animations
 */

@-webkit-keyframes load8 {

	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {

	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@media (--tablet-min) {

	.intro .left {
		float: left;
		width: 30%;
	}

	.features-screenshot {
		display: block;
		float: right;
		height: auto;
		margin: 0 auto;
		max-width: 1000px;
		width: 70%;
	}

	.ep-features .left {
		box-sizing: border-box;
		display: block;
		float: left;
		padding-right: 10px;
		width: 50%;
	}

	.ep-features .right {
		box-sizing: border-box;
		display: block;
		float: right;
		padding-left: 10px;
		width: 50%;
	}

	.ep-feature .feature-message {
		display: inline-block;
		float: left;
		padding: 0;
		padding-top: 0.5em;
		vertical-align: middle;
	}
}

/**
 * Settings page
 */

/* @media screen and (max-width: 600px) { */
.wrap h2.nav-tab-wrapper.ep-credentials-tabs {
	border-bottom: 1px solid #ccc;
}

/* } */

.ep-credentials input[type="text"] {
	min-width: 250px;
}

h2 .nav-tab.ep-credentials-tab {
	cursor: pointer;
	margin-bottom: -1px;
}

.ep-credentials-tab.nav-tab-active {
	border-bottom-color: #f1f1f1;
}

.ep-credentials-tab img,
.ep-credentials-tab span {
	display: inline-block;
	vertical-align: middle;
}

.ep-credentials fieldset {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: 0;
	padding: 0 1rem;
}

.ep-credentials fieldset.predefined {
	border-top: 1px solid #ccc;
}

.ep-settings .description {
	font-size: 0.75rem;
	font-style: italic;
}

@media (--tablet-min) {

	.ep-credentials {
		display: inline-block;
	}

	.ep-credentials .form-table {
		width: auto;
	}

	.ep-credentials .form-table td {
		padding-left: 0;
	}
}

.ep-flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}

.ep-flex-container-nowrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.stats-list {
	margin-right: 0;
	width: 100%;

	/* @media( --tablet-min ) {
		width: 48%;
		margin-right: 24px;
	} */

	@media (--wide-min) {
		background-color: #fff;
		margin-right: 28px;
		width: 37%;
	}
}

.stats-queries {
	background-color: #fff;
	width: 100%;

	/* @media( --tablet-min ) {
		width: 48%;
	} */

	@media (--wide-min) {
		width: 60%;
	}
}

.stats-list-th span:last-of-type {
	border-radius: 4px;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-size: 13px;
	margin-top: -4px;
	padding: 4px 7px;
	padding-left: 23px;
	position: relative;
}

.status-circle {
	float: right;
	text-transform: capitalize;
}

.status-circle::after {
	border-radius: 50%;
	content: " ";
	display: inline-block;
	height: 8px;
	margin-left: 10px;
	margin-top: -2px;
	vertical-align: middle;
	width: 8px;
}

.green-status {
	color: var(--statusOk);
}

.yellow-status {
	color: var(--statusWarning);
}

.red-status {
	color: var(--statusError);
}

.green-status::after {
	background-color: var(--statusOk);
}

.yellow-status::after {
	background-color: var(--statusWarning);
}

.red-status::after {
	background-color: var(--statusError);
}

.doc-chart {
	margin-right: 0;
	width: 100%;

	@media (--tablet-min) {
		margin-right: 24px;
		width: 48%;
	}

	@media (--wide-min) {
		margin-right: 28px;
		width: 50%;
	}
}

.ep-qchart-container {
	margin: 0 auto;
	width: 90%;

	@media (--tablet-min) {
		width: 48%;
	}

	@media (--wide-min) {
		margin: 0 auto;
		width: 50%;
	}

}

.inside-totals {
	padding: 0 12px 12px;
}

.ep-totals {
	display: flex;
	flex-direction: column;
	width: 100%;

	@media (--tablet-min) {
		width: 48%;
	}

	@media (--wide-min) {
		width: 47%;
	}

	& .ep-flex-container {
		flex-direction: column;
		justify-content: center;
		margin-bottom: auto;
		margin-top: auto;

		@media (--wide-min) {
			flex-direction: row;
		}
	}
}

.ep-totals-column {
	box-sizing: border-box;
	text-align: center;
	width: 100%;

	@media (--wide-min) {
		width: 50%;
	}
}

p.ep-totals-title {
	font-weight: bolder;
	margin-top: 28px;
}

p.ep-totals-data {
	font-size: 3em;
	margin-top: 22px;
}
