:root {
	--statusOk: #6aa000;
	--statusWarning: #e3e600;
	--statusError: #ff0000;
}

@custom-media --tablet-min (min-width: 768px);
@custom-media --wide-min (min-width: 1065px);
@custom-media --tablet-max (max-width: 768px);
@custom-media --wide-max (max-width: 1065px);

/**
 * Layout
 */

.wrap .notice,
.wrap > h2 {
	z-index: 2;
	position: relative;
}

.wrap h1 {
	font-size: 23px;
	font-weight: 400;
	margin: 0;
	padding: 9px 0 4px;
	line-height: 29px;
}

.wrap h2 {
	color: #888;
	line-height: 1.75;
	margin: .5em 0 .75em;
}

#wpbody #update-nag,
#wpbody .update-nag {
	margin-left: -20px;
	width: 100%;
	margin-top: 0;
	margin-bottom: 20px;
}

h2.ep-list-features {
	display: none;
}

/**
 * Header
 */

.ep-header-menu {
	background-color: #fff;
	position: relative;
	margin-left: -20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 2px solid #ddd;
	z-index: 2;
}

.ep-header-menu:after {
	content: ' ';
	clear: both;
	display: block;
}

.ep-header-menu img {
	float: left;
}

.ep-header-menu .icons {
	float: right;
	padding-right: 3px;
	height: 39px;
	line-height: 39px;
	display: inline-block;
}

.ep-header-menu .icons .dashicons-update {
	font-size: 29px;
	margin-right: 10px;
	top: -3px;
}

.ep-header-menu .icons a {
	font-size: 27px;
	vertical-align: middle;
	color: inherit;
	position: relative;
	top: -3px;
	margin-left: 8px;
	cursor: pointer;
}

.ep-header-menu .icons .dashicons-no,
.ep-header-menu .icons .dashicons-controls-play,
.ep-header-menu .icons .dashicons-controls-pause {
	top: 1px;
	font-size: 30px;
}

.ep-header-menu .resume-sync,
.ep-header-menu .pause-sync,
.ep-header-menu .cancel-sync {
	display: none;
}

.ep-header-menu .sync-status {
	display: none;
	color: #666;
	bottom: -1px;
	position: relative;
	margin-right: 8px;
	vertical-align: middle;
	font-style: italic;
}

.ep-header-menu .progress-bar {
	margin-bottom: -5px;
	height: 5px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #D84440;
}

/**
 * Features
 */

.ep-features {
	overflow: auto;
}

.error-overlay.cant-connect,
.error-overlay.syncing {
	content: ' ';
	display: block;
	position: fixed;
	top: 46px;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: .6;
	background-color: #fff;
	z-index: 1;
}

@media (--tablet-min) {
	.error-overlay.cant-connect,
	.error-overlay.syncing,
	.error-overlay {
		top: 32px;
		left: 160px;
	}
}

.ep-feature .postbox {
	margin-bottom: 0;
}

.ep-feature .postbox .hndle {
	cursor: inherit;
}

.ep-feature .postbox .hndle .settings-button {
	float: right;
	display: inline-block;
	font-size: 13px;
	background-color: #efefef;
	border-radius: 4px;
	padding: 4px 7px;
	margin-top: -4px;
	cursor: pointer;
	color: inherit;
	position: relative;
	padding-left: 23px;
}

.ep-feature .settings-button:before {
	content: "\f140";
	font: 400 19px/1 dashicons;
	display: inline-block;
	color: #72777c;
	padding: 0 5px 0 0;
	vertical-align: middle;
	top: 4px;
	position: absolute;
	left: 1px;
}

.ep-feature .settings-button:after {
	border-radius: 50%;
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 8px;
	margin-left: 10px;
	margin-top: -2px;
}

.feature-requirements-status-2.ep-feature {
& .postbox .hndle .settings-button:after {
	  background-color: transparent;
	  border: 1px solid var(--statusError);
  }

& .settings .requirements-status-notice {
	  border-color: var(--statusError);
  }
}

.feature-requirements-status-1.ep-feature {
& .postbox .hndle .settings-button:after {
	  background-color: transparent;
	  border: 1px solid var(--statusWarning);
  }

&.feature-active .postbox .hndle .settings-button:after {
	 background-color: var(--statusWarning);
 }

& .settings .requirements-status-notice {
	  border-color: var(--statusWarning);
  }
}

.feature-requirements-status-0.ep-feature {
& .postbox .hndle .settings-button:after {
	  background-color: transparent;
	  border: 1px solid var(--statusOk);
  }

&.feature-active .postbox .hndle .settings-button:after {
	 background-color: var(--statusOk);
 }

& .settings .requirements-status-notice {
	  border-color: var(--statusOk);
  }
}

.ep-feature {
	position: relative;
	vertical-align: top;
	margin-bottom: 20px;
}

.ep-feature.saving .action-wrap:before {
	content: ' ';
	vertical-align: middle;
	margin-right: 1.4em;
	top: 4px;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	display: inline-block;
	font-size: 7px;
	position: relative;
	text-indent: -9999em;
	border-top: 5px solid #ccc;
	border-right: 5px solid #ccc;
	border-bottom: 5px solid #ccc;
	border-left: 5px solid #999;
	transform: translateZ(0);
	animation: load8 1.1s infinite linear;
}

.ep-feature .description,
.ep-feature .settings {
	margin-bottom: 0;
	text-align: left;
}

.ep-feature .settings {
	display: none;
	overflow: auto;

& h3 {
	  margin-top: 0;
	  font-size: inherit;
	  font-weight: bold;
  }
}

.ep-feature.show-settings {

& .settings {
	  display: block;
  }

& .description {
	  display: none;
  }

& .settings-button:before {
	  content: "\f142";
  }
}

.ep-feature .settings .requirements-status-notice {
	border-left: 4px solid var(--statusOk);
	background-color: #efefef;
	padding: 8px 12px;
	margin-bottom: 10px;
}

.ep-feature .settings .action-wrap {
	clear: both;
	text-align: right;
	padding-top: 15px;
	vertical-align: middle;

& a {
	  cursor: pointer;
	  display: inline-block;
  }

& .no-dash-sync {
	  color: #aaa;
	  line-height: 27px;
	  padding-right: 8px;
	  display: none;
  }

& a.disabled {
	  cursor: default;
  }

& .cancel {
	  margin-top: 4px;
	  margin-right: 6px;
  }
}

.ep-feature.dash-sync-disabled .settings .action-wrap {
& .no-dash-sync {
	  display: inline;
  }
}

.ep-feature .settings .field {
	clear: both;
	overflow: initial;
	padding-top: 15px;

&:first-child {
	 padding-top: 0;
 }

& label {
	  margin: 0.25em 0 0.5em;
	  display: inline-block;
  }

& div {
	  padding-top: 5px;
  }

& > label,
& .field-name {
	  display: block;
	  float: left;
	  width: 25%;
	  padding-right: 1.5em;
	  box-sizing: border-box;
  }

& .input-wrap {
	  width: 75%;
	  display: block;
	  float: right;
  }

& .field-description {
	  font-style: italic;
	  margin-top: 4px;
	  margin-bottom: 0;
	  color: #666;
  }

& .disabled {
	  color: #bbbbbb;

& input {
	  cursor: default;
  }
}
}

.ep-feature .long {
	display: none;

& p:last-child {
	  margin-bottom: 0;
  }
}

.ep-feature.show-full .long {
	display: block;
}

.ep-feature .learn-more,
.ep-feature .collapse {
	cursor: pointer;
}

.ep-feature.show-full .learn-more {
	display: none;
}

.ep-feature .learn-more:after {
	content: "\f140";
	font-family: dashicons;
	font-size: 1.5em;
	vertical-align: middle;
	top: -.07em;
	position: relative;
}

.ep-feature .collapse:after {
	content: "\f142";
	font-family: dashicons;
	font-size: 1.5em;
	vertical-align: middle;
	top: -.07em;
	position: relative;
}

/**
 * Intro Page
 */


.intro h2 {
	padding: 9px 0 4px 0;
	line-height: 1.2;
}

.intro h1 {
	text-align: center;
	color: #626262;
	margin: .5em 0 2em;
	font-weight: 600;
}

.intro-container {
	display: flex;
	justify-content: center;
	padding-left: 10%;
	padding-right: 10%;
	text-align: center;
}

.intro-box {
	width: 33%;
}

.intro-container a {
	font-weight: bold;
}

.intro-container h2 {
	color: #626262;
	height: 8%;
}

.intro-container p {
	max-width: 300px;
}

.intro-container-success {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.intro-container-success p {
	padding: 0 35% 0 35%;
	margin-top: 23px;
}

@media (--tablet-max) {
	.intro-container-success p {
		padding: 0 26%;
		margin-top: 23px;
	}
}

.ep-config-success span {
	font-size: 6em;
	padding-right: 75px;
}

.setup-complete {
	width: 100%;
	padding-top: 0;
	margin-top: 0;
	font-size: 2em;
}

.setup-complete h2 {
	padding-top: 0;
	margin-top: 0;
}

.ep-copy-text {
	padding: 0 15% 0 15%;
}

@media (--tablet-max) {
	.intro-box {
		width: auto;
	}
	.ep-copy-text {
		padding: 0 9% 0 9%;
	}
}

.ep-circle {
	width: 6em;
	height: 6em;
	text-align: center;
	line-height: 2.8em;
	border-radius: 50%;
	margin: 0 1em;
	display: inline-block;
	color: #fff;
	position: relative;
	font-size: 16px;
	font-weight: 400;
}

.ep-circle p {
	font-size: 50px;
	border: 0;
	margin: 0;
	line-height: 0.5em;
	font-weight: bold;
}

.red-ep-circle {
	background-color: #d73c38;
	color: #fff;
}

.ep-middle-circle::after{
	content: '';
	position: absolute;
	top: 2.9em;
	left: -14em;
	width: 34em;
	height: .2em;
	background: #d4d4d4;
	z-index: -1;
}

@media (--wide-max) {
	.ep-middle-circle::after{
		left: -8em;
		width: 21.9em;
	}
}

@media (--tablet-min) {
	.wrap h1 {
		line-height: 1.75;
	}
}

.white-ep-circle {
	color: #626262;
	background: white;
}

.wrap.intro {
	margin-top: 30px;
	margin-bottom: 30px;
	overflow: auto;

& .updated,
& .notice,
& .error,
& .is-dismissible {
	  display: none !important;
  }
}

.features-screenshot {
	display: none;
}

.setup-message {
	text-align: center;
	padding: 2em 0;
	clear: both;
}

.setup-message .setup-button {
	border-radius: 10px;
	background-color: #E63E3B;
	color: white;
	display: inline-block;
	margin: 0 .75em;
	text-decoration: none;
	padding: 1em 1.5em;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.25);
}

.setup-message .setup-button:hover {
	color: #ffe8ed;
	background-color: #B93431;
}

.setup-message .setup-button-primary {
	background-color: #fff;
	color: #d84440;
}

/**
 * Weighting
 */

.weighting-settings .postbox {
	max-width: 650px;
}

.weighting-settings .postbox h2.hndle {
	color: #444;
	cursor: inherit;
}

.weighting-settings fieldset {
	padding: 10px;
}

.weighting-settings fieldset legend {
	float: left; /* legend cannot use display */
	position: relative;
	top: 5px;
	width: 100px;
}

.weighting-settings fieldset p {
	display: inline-block;
	margin: 0;
}

.weighting-settings .field-group {
	margin: 10px 0 0;
}

.weighting-settings .field-group h3 {
	margin: 10px;
	font-size: 1em;
}

.weighting-settings .fields > fieldset:nth-of-type( odd ) {
	background: #f9f9f9;
}

.weighting-settings .searchable {
	display: inline-block;
	width: 120px;
}

.weighting-settings .weighting label {
	width: 60px; /* not localization friendly */
}

.weighting-settings input[type=range] {
	display: inline-block;
	width: 200px;
	vertical-align: middle;
	height: 1em;
	-webkit-appearance: none;
	margin: 0;
	background: transparent;
}

.weighting-settings input[type=range]:focus {
	outline: none;
}

.weighting-settings input[type=range]:disabled {
	opacity: 0.5;
	pointer-events: none;
}

.weighting-settings input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #ddd;
	border-radius: 1px;
	border: 0px solid #000000;
}

.weighting-settings input[type=range]::-webkit-slider-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 1px solid #1e8cbe;
	height: 14px;
	width: 14px;
	border-radius: 25px;
	background: #1e8cbe;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -6px;
}

.weighting-settings input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ddd;
}

.weighting-settings input[type=range]:focus::-webkit-slider-thumb {
	background: #fff !important;
}

.weighting-settings input[type=range]::-moz-range-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 0px 0px 0px #000000;
	background: #1e8cbe;
	border-radius: 1px;
	border: 0px solid #000000;
}

.weighting-settings input[type=range]::-moz-range-thumb {
	box-shadow: 0px 0px 0px #000000;
	border: 1px solid #1e8cbe;
	height: 14px;
	width: 14px;
	border-radius: 25px;
	background: #1e8cbe;
	cursor: pointer;
}

.weighting-settings input[type=range]::-ms-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

.weighting-settings input[type=range]::-ms-fill-lower {
	background: #1e8cbe;
	border: 0px solid #000000;
	border-radius: 2px;
	box-shadow: 0px 0px 0px #000000;
}

.weighting-settings input[type=range]::-ms-fill-upper {
	background: #1e8cbe;
	border: 0px solid #000000;
	border-radius: 2px;
	box-shadow: 0px 0px 0px #000000;
}

.weighting-settings input[type=range]::-ms-thumb {
	margin-top: 1px;
	box-shadow: 0px 0px 0px #000000;
	border: 1px solid #1e8cbe;
	height: 14px;
	width: 14px;
	border-radius: 25px;
	background: #A1D0FF;
	cursor: pointer;
}

.weighting-settings input[type=range]:focus::-ms-fill-lower {
	background: #1e8cbe;
}

.weighting-settings input[type=range]:focus::-ms-fill-upper {
	background: #1e8cbe;
}


/**
 * Animations
 */

@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@media (--tablet-min) {
	.intro .left {
		float: left;
		width: 30%;
	}

	.features-screenshot {
		margin: 0 auto;
		max-width: 1000px;
		width: 70%;
		display: block;
		height: auto;
		float: right;
	}

	.ep-features .left {
		display: block;
		float: left;
		box-sizing: border-box;
		padding-right: 10px;
		width: 50%;
	}

	.ep-features .right {
		display: block;
		float: right;
		box-sizing: border-box;
		padding-left: 10px;
		width: 50%;
	}

	.ep-feature .feature-message {
		float: left;
		padding: 0;
		vertical-align: middle;
		display: inline-block;
		padding-top: .5em;
	}
}

/**
 * Settings page
 */
/* @media screen and (max-width: 600px) { */
.wrap h2.nav-tab-wrapper.ep-credentials-tabs {
	border-bottom: 1px solid #ccc;
}
/* } */

.ep-credentials input[type="text"] {
	min-width: 250px;
}

h2 .nav-tab.ep-credentials-tab {
	cursor: pointer;
	margin-bottom: -1px;
}

.ep-credentials-tab.nav-tab-active {
	border-bottom-color: #f1f1f1;
}

.ep-credentials-tab img,
.ep-credentials-tab span {
	display: inline-block;
	vertical-align: middle;
}

.ep-credentials fieldset {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	margin: 0;
	padding: 0 1rem;
}

.ep-credentials fieldset.predefined {
	border-top: 1px solid #ccc;
}

.ep-settings .description {
	font-size: 0.75rem;
	font-style: italic;
}

@media (--tablet-min) {
	.ep-credentials {
		display: inline-block;
	}

	.ep-credentials .form-table {
		width: auto;
	}

	.ep-credentials .form-table td {
		padding-left: 0;
	}
}

.ep-flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 100%;
}

.ep-flex-container-nowrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}

.stats-list {
	width: 37%;
	background-color: white;
	margin-right: 28px;
}

.stats-queries {
	width: 60%;
	background-color: white;
}

.stats-list-th span:last-of-type {
	float: right;
	display: inline-block;
	font-size: 13px;
	border-radius: 4px;
	padding: 4px 7px;
	margin-top: -4px;
	cursor: pointer;
	color: inherit;
	position: relative;
	padding-left: 23px;
}

.status-circle {
	float: right;
	text-transform: capitalize;
}

.status-circle:after {
	border-radius: 50%;
	content: " ";
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 8px;
	margin-left: 10px;
	margin-top: -2px;
}

.green-status {
	color: var(--statusOk);
}

.yellow-status {
	color: var(--statusWarning);
}

.red-status {
	color: var(--statusError);
}

.green-status:after {
	background-color: var(--statusOk);
}

.yellow-status:after {
	background-color: var(--statusWarning);
}

.red-status:after {
	background-color: var(--statusError);
}

.doc-chart {
	width: 50%;
	margin-right: 28px;
}

.ep-qchart-container {
	width: 50%;
	margin: 0 auto;
}

.inside-totals {
	padding: 0 12px 12px;
}

.ep-totals {
	width: 47%;
}

.ep-totals-1st-row {
	width: 45%;
	text-align: center;
}

p.ep-totals-title {
	font-weight: bolder;
	margin-top: 28px;
}

p.ep-totals-data {
	font-size: 3em;
	margin-top: 22px;
}

.ep-totals-2nd-row {
	width: 100%;
	text-align: center;
}

@media (--wide-max) {
	.stats-list{
		width: 100%;
		margin-right: 0;
	}
	.stats-queries {
		width: 100%;
	}

	.doc-chart {
		width: 100%;
		margin-right: 0;
	}

	.ep-totals {
		width: 100%;
	}

	.ep-totals-1st-row {
		width: 100%;
	}

	.ep-qchart-container {
		width: 90%;
	}
}