@import "./global/colors.css";

#wpadminbar .ep-status-indicator {
	background-color: var(--ep-c-white-gray);
	border-radius: 100%;
	display: inline-block;
	height: 8px;
	margin-right: 6px;
	width: 8px;
}

#wpadminbar .ep-status-indicator--success {
	background-color: var(--ep-status-ok);
}

#wpadminbar .ep-status-indicator--warning {
	background-color: var(--ep-status-warning);
}

#wpadminbar .ep-status-indicator--error {
	background-color: var(--ep-status-error);
}
