#ep-ordering {
	& .inside {
		margin: 0;
		padding: 0;
	}

	& .new-post {
		margin: 1em;
	}

	& .loading {
		margin: 1em;

		& .spinner {
			margin-top: 0;
			margin-left: 0;
			float: left;
		}
	}

	& .pointers {
		& .pointer,
		& .post {
			padding: 1em;

			&:nth-child(odd) {
				background-color: #f9f9f9;
			}
		}

		& .pointer {
			cursor: move;
		}

		& .post {
			color: #7b7b7b;
		}

	}

	& hr {
		margin-top: 0;
		margin-bottom: 1em;
	}

	& .pointer-search {
		padding: 0.5em 1em 0;
	}

	& .delete-pointer,
	& .add-pointer {
		cursor: pointer;
		float: right;
	}

	& .pointer-results {
		margin: 1em 0;
	}

	& .pointer-result {
		padding: 0.5em 0;
	}
}
