/* Switch toggle on network admin sites page. */
.switch {
	display: inline-block;
	height: 34px;
	position: relative;
	width: 60px;
}

.switch input {
	height: 0;
	opacity: 0;
	width: 0;
}

.slider {
	background-color: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider::before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	height: 26px;
	left: 4px;
	position: absolute;
	-webkit-transition: 0.4s;
	transition: 0.4s;
	width: 26px;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider::before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round::before {
	border-radius: 50%;
}

.switch-label {
	padding-left: 20px;
	padding-top: 20px;
}
