.ep-status-report {
	max-width: 800px;

	& .components-panel {
		margin-bottom: 1rem;
	}

	& table {
		table-layout: fixed;

		& col:first-of-type {
			width: 40%;
		}

		& td,
		& th {
			line-height: 1.5;
		}

		& small {
			display: block;
		}

		& pre {
			margin: 0;
			overflow-x: scroll;
		}
	}
}

.ep-copy-button-wrapper {
	align-items: center;
	display: inline-flex;
	margin: 0.5rem 0 1rem;
}

.ep-copy-button-wrapper__success {
	color: #008a20;
	display: none;
	margin-left: 0.5rem;
}
