@import "sync/button.css";
@import "sync/controls.css";
@import "sync/heading.css";
@import "sync/messages.css";
@import "sync/panel.css";
@import "sync/progress.css";
@import "sync/progress-bar.css";
@import "sync/status.css";
@import "sync/warning.css";

:root {
	--ep-sync-color-black: #1a1e24;
	--ep-sync-color-error: #b52727;
	--ep-sync-color-light-grey: #f0f0f0;
	--ep-sync-color-success: #46b450;
	--ep-sync-color-warning: #ffb359;
	--ep-sync-color-white: #fff;
}
