.elasticpress_page_elasticpress-sync .button:disabled {
	cursor: not-allowed;
}

.ep-sync-box__progress-wrapper {
	display: none;
}

.ep-sync-box__output {
	background-color: #1a1e24;
	margin-bottom: 20px;
	max-height: 200px;
	overflow-y: scroll;
	position: relative;
}

.ep-sync-box__output-wrapper {
	color: #fff;
	margin-left: 30px;
	min-height: 200px;
}

.ep-sync-box__output-line {
	position: relative;
}

.ep-sync-box__output-line-number {
	background-color: #303030;
	color: #999;
	left: -30px;
	min-width: 20px;
	padding: 0 3px 0 5px;
	position: absolute;
	text-align: right;
	white-space: nowrap;
}

.ep-sync-box__output-line-text {
	font-size: 12px;
	padding-left: 14px;
}

.ep-sync-box__output-tabs {
	align-items: center;
	display: flex;
}

.ep-sync-box__output-tab {
	color: #1e1e1e;
	padding: 16px;
}

.ep-sync-box__output-tab_active {
	border-bottom: 4px solid #00a0d2;
	padding-bottom: 12px;
}

.elasticpress_page_elasticpress-sync .card {
	max-width: 1200px;

	& .ep-sync-box__description-actions {
		display: flex;
		justify-content: space-between;
	}

	& .ep-sync-box__description {
		width: 69%;

	}

	& .ep-sync-box__action {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-top: 40px;
		width: 30%;

		& .ep-sync-box__button {
			align-items: center;
			display: flex;
			font-size: 24px;
			font-weight: 700;
			height: 68px;
			justify-content: space-between;
			padding: 20px 40px;
			width: 228px;
		}

		& .ep-sync-box__icon-button {
			font-size: 28px;
			height: 28px;
			width: 28px;

		}

		& .ep-sync-box__learn-more-link {
			margin-top: 19px;
		}

	}

	& .ep-sync-box__description_text {
		font-size: 18px;
	}

	& .ep-last-sync__title {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 0.5em;
	}

	& .ep-last-sync__date {
		background-color: #f1f1f1;
		padding: 6px;
	}

	& .ep-sync-box__buttons {
		display: flex;

	}

	& .ep-sync-box__button-resume,
	& .ep-sync-box__button-pause,
	& .ep-sync-box__button-stop {
		align-items: center;
		display: none;
		flex-direction: column;
		height: 68px;
		justify-content: center;
		width: 100px;
	}

	& .ep-sync-box__button-stop {
		background-color: #00a0d2;
		border-color: #00a0d2;
		margin-left: 24px;
	}

	& .ep-sync-box__progress {
		align-items: center;
		display: flex;
		flex-direction: row;
		margin-bottom: 5px;
	}

	& .ep-sync-box__sync-in-progress {
		display: flex;
		flex-direction: row;
		width: 30%;
	}

	& .ep-sync-box__progressbar {
		background-color: #f1f1f1;
		border-radius: 24px;
		height: 20px;
		position: relative;
		width: 65%;
	}

	& .ep-sync-box__progressbar_animated {
		background-color: rgba(0, 160, 210, 0.3);
		color: #333;
		display: block;
		height: 100%;
		text-align: center;
		transition: width 0.5s ease-in-out;
		width: 0;
	}

	& .ep-sync-box__progressbar_complete {
		background-color: #46b450;
		color: #fff;
	}

	& .ep-sync-box__sync-in-progress-info {
		display: flex;
		flex-direction: column;
		margin-left: 12px;
	}

	& .ep-sync-box__progress-info {
		font-size: 14px;
		font-weight: 500;
		margin-bottom: 5px;
	}

	& .ep-sync-box__start-time {
		color: #00a0d2;
		font-size: 14px;
	}

	& .ep-sync-box__start-time-date {
		color: #333;
	}
}

.elasticpress_page_elasticpress-sync .ep-delete-data-and-sync {
	margin-top: 40px;

	& .card {
		margin-top: 17px;
	}

	& .ep-delete-data-and-sync__title {
		color: #1d2327;
		font-size: 18px;
		font-weight: 400;
	}

	& .ep-delete-data-and-sync__warning {
		align-items: flex-start;
		display: flex;
		width: 69%;
	}

	& .ep-delete-data-and-sync__warning-icon {
		margin-right: 9px;
		margin-top: 17px;
	}

	& .ep-delete-data-and-sync__button {
		background-color: rgba(181, 39, 39, 0.03);
		border: 1px solid #b52727;
		color: #b52727;
		margin: 5px 0 12px;
	}

	& .ep-delete-data-and-sync__button-cancel {
		display: none;
	}
}
