@import "weighting/action.css";
@import "weighting/add-new.css";
@import "weighting/field.css";
@import "weighting/screen.css";

html.wp-toolbar {
	background: transparent;
}

.components-snackbar-list {
	bottom: 40px;
	left: 0;
	padding: 0 16px;
	position: fixed;

	@media (min-width: 600px) {
		left: auto;
		padding: 0;
	}
}
