:root {
	--ep-search-background-color: #fff;
	--ep-search-alternate-background-color: #efefef;
	--ep-search-border-color: #dfdfdf;
	--ep-search-range-thumb-size: 1.625em;
	--ep-search-range-track-size: 0.75em;

	@media ( min-width: 768px ) {
		--ep-search-range-thumb-size: 1.25em;
		--ep-search-range-track-size: 0.5em;
	}
}
