.ep-synonyms-solr-editor {
	margin-top: 16px;

	& textarea {
		/* stylelint-disable-next-line declaration-no-important */
		font-family: Menlo, Consolas, monaco, monospace !important;
		/* stylelint-disable-next-line declaration-no-important */
		font-size: 13px !important;
		line-height: 1.5;
		overflow-wrap: break-word;
		overflow-x: hidden;
	}
}
